{% extends 'onlinestore/base.html' %}

{% block title %}
    Checkout |
{% endblock %}

{% block content %}

    <div class="container" style="text-align: center;">
        <div class="row">
            <h2><center>Checkout</center></h2>

            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}


            <form action="" method="post">
                <table>
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Place Order" style="width: 100%; padding: 12px; color: white;
                            background-color: #000; font-size: 18px;"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

{% endblock %}